:root {
    font: var(--font);
    color: var(--color);
    --font: 14px/20px JetBrainsMono, monospace;
    --color: #72f3bb;
    color-scheme: dark;
}

html {
    height: 100%;
    margin: 0;
    word-wrap: break-word;
    background-color: #0b1f16;
    -webkit-font-smoothing: antialiased;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100%;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

::selection {
    background: #0080FF;
    text-shadow: none;
}

.pre {
    white-space: pre-wrap;
}

.error {
    --color: #e32525;
}
